@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-family: "Roboto";
}

body {
    margin: 0px;
    margin-top: 200px;
    margin-bottom: 100px;
}

/* ========================================================================== */
/* =============================== Header CSS =============================== */
/* ========================================================================== */

.header-element {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #283891;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-size: xx-large;
}

.navbar {
    background-color: #0F75BC;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 50px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    margin-left: 20em;
    margin-right: 20em;
    display: flex;
    align-items: center;
}

.navbar-list li {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

@media(max-width:1300px) {
    .navbar-list {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media(max-width:950px) {
    .navbar-list {
        margin-right: 5em;
        margin-left: 5em;
    }
}

@media(max-width:700px) {
    .navbar-list {
        margin-right: 2.5em;
        margin-left: 2.5em;
    }
}

/* ========================================================================== */
/* ================================ Body CSS ================================ */
/* ========================================================================== */

.volunteer-hours-tracker {
    display: flex;
    justify-content: center;
}

.volunteer-hours-form {
    border: 2px lightgray solid;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "volunteer-hours-header"
    "charity-name"
    "hours-volunteered"
    "volunteer-hours-date"
    "volunteer-experience-rating"
}

.volunteer-hours-header {
    grid-area: volunteer-hours-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charity-name {
    grid-area: charity-name;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.hours-volunteered {
    grid-area: hours-volunteered;
}

.volunteer-hours-date {
    grid-area: volunteer-hours-date;
}

.volunteer-experience-rating {
    grid-area: volunteer-experience-rating;
}

.hours-volunteered, .volunteer-hours-date, .volunteer-experience-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.volunteer-experience-rating ul {
    display: flex;
    padding: 0;
    list-style: none;
}

#volunteer-experience-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.input-container label {
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-align: right;
}

.star {
    display: flex;
    display: inline;
    font-size: 2em;
    color: lightgray;
    cursor: pointer;
}

.star:hover, .checked{
    color: #0F75BC;
}

.error {
    color: red;
    display: none;
}

/* ========================================================================== */
/* =============================== Footer CSS =============================== */
/* ========================================================================== */

.footer-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: x-large;
}
