@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-family: "Roboto";
}

body {
    margin: 0px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.nested-body {
    margin-top: 0px;
}

iframe {
    border: none;
    width: 200px;
    height: 100%;
}

/* ========================================================================== */
/* =============================== Header CSS =============================== */
/* ========================================================================== */

.header-element {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #283891;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-size: xx-large;
}

.navbar {
    background-color: #0F75BC;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 50px;
    left: 0px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    margin-left: 20em;
    margin-right: 20em;
    display: flex;
    align-items: center;
}

.navbar-list li {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: none;
}

@media(max-width:1300px) {
    .navbar-list {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media(max-width:950px) {
    .navbar-list {
        margin-right: 5em;
        margin-left: 5em;
    }
    .navbar {
        left: 0px;
        position: fixed;
    }
}

@media(max-width:700px) {
    .navbar-list {
        display: grid;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        align-items: normal;
    }
    .navbar {
        position: fixed;
        width: 300px;
        height: 100%;
        z-index: -10;
        left: -300px;
        transition: 0.5s;
    }
    .hamburger-menu {
        display: block;
        height: 50px;
        width: 50px;
        position: fixed;
        z-index: 10;
        cursor: pointer;
    }
    .navbar-list li {
        display: grid;
        
        height: 70px;
        width: 100%;
    }
    .navbar-list li a {
        width: 100%;
        height: 100%;
    }
    .navbar-list li a p {
        margin-left: 25px;
        display: grid;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        height: 100%;
    }
    .navbar-list li:hover {
        background-color:#185a89
    }
}

/* ========================================================================== */
/* ================================ Body CSS ================================ */
/* ========================================================================== */

.volunteer-hours-tracker {
    display: flex;
    justify-content: center;
}

.volunteer-hours-form {
    border: 2px lightgray solid;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "volunteer-hours-header"
    "charity-name"
    "hours-volunteered"
    "volunteer-hours-date"
    "volunteer-experience-rating"
}

.volunteer-hours-header {
    grid-area: volunteer-hours-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charity-name {
    grid-area: charity-name;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.hours-volunteered {
    grid-area: hours-volunteered;
}

.volunteer-hours-date {
    grid-area: volunteer-hours-date;
}

.volunteer-experience-rating {
    grid-area: volunteer-experience-rating;
}

.hours-volunteered, .volunteer-hours-date, .volunteer-experience-rating, .volunteer-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.volunteer-experience-rating ul {
    display: flex;
    padding: 0;
    list-style: none;
}

#volunteer-experience-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.input-container label {
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-align: right;
}

.star {
    display: flex;
    display: inline;
    font-size: 2em;
    color: lightgray;
    cursor: pointer;
}

.star:hover, .starsSelected {
    color: #0F75BC;
}

#submit-volunteer-form {
    font-size: 1em;
    width: 5rem;
    background-color: lightgray;
    cursor: pointer;
    padding: 0.25em;
    border: 2px #0F75BC solid;
    border-radius: 10px;
}

#submit-volunteer-form:hover {
    background-color: #0F75BC;
    color: white;
    font-weight: bold;
}

.volunteer-form-error {
    color: red;
    display: none;
}

/* ========================================================================== */
/* =============================== Footer CSS =============================== */
/* ========================================================================== */

.footer-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: x-large;
}
