@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-family: "Roboto";
}

body {
    margin: 0px;
    /* margin-top: 200px; */
    margin-bottom: 100px;

}

.nested-body {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* iframe {
    border: none;
    width: 200px;
    height: 100%;
} */

.nested-body {
    margin-top: 0px;
}

/* iframe {
    border: none;
    width: 200px;
    height: 100%;
} */

/* ========================================================================== */
/* =============================== Header CSS =============================== */
/* ========================================================================== */

.header-element {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #283891;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-size: xx-large;
}

.navbar {
    background-color: #0F75BC;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 50px;
    left: 0px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    margin-left: 20em;
    margin-right: 20em;
    display: flex;
    align-items: center;
}

#hamburgerMenuSVG {
    display: block;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    margin: 1em;
    height: 65px;
    width: 65px;
    background-color: #ddd;
    border-radius: 15px;
}

.navbar-list li {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: none;
}

@media(max-width:1300px) {
    .navbar-list {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media(max-width:950px) {
    .navbar-list {
        margin-right: 5em;
        margin-left: 5em;
    }
    .navbar {
        left: 0px;
        position: fixed;
    }
}

@media(max-width:700px) {
    .navbar-list {
        display: grid;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        align-items: normal;
    }
    .navbar {
        position: fixed;
        width: 300px;
        height: 100%;
        z-index: 10;
        left: -300px;
        
    }
    .hamburger-menu {
        display: block;
        height: 50px;
        width: 50px;
        position: fixed;
        z-index: 10;
        cursor: pointer;
    }
    .navbar-list li {
        display: grid;
        
        height: 70px;
        width: 100%;
    }
    .navbar-list li a {
        width: 100%;
        height: 100%;
    }
    .navbar-list li a p {
        margin-left: 25px;
        display: grid;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        height: 100%;
    }
    .navbar-list li:hover {
        background-color:#0c588e;
    }
}

/* ========================================================================== */
/* ================================ Body CSS ================================ */
/* ========================================================================== */

/* ====================================================== */
/* =================== VOLUNTEER CODE =================== */
/* ====================================================== */

.volunteer-frame {

    border: none;
    width: 100%;
    /* height: 650px; */
    padding-top: 200px;

}

.volunteer-hours-tracker {
    width: 100%;
    height: 100%;
}

.volunteer-hours-form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.volunteer-hours-form {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    border: 2px lightgray solid;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "volunteer-hours-header"
    "charity-name"
    "hours-volunteered"
    "volunteer-hours-date"
    "volunteer-experience-rating"
}

.volunteer-hours-header {
    grid-area: volunteer-hours-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charity-name {
    grid-area: charity-name;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.hours-volunteered {
    grid-area: hours-volunteered;
}

.volunteer-hours-date {
    grid-area: volunteer-hours-date;
}

.volunteer-experience-rating {
    grid-area: volunteer-experience-rating;
}

.hours-volunteered, .volunteer-hours-date, .volunteer-experience-rating, .volunteer-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.volunteer-experience-rating ul {
    display: flex;
    padding: 0;
    list-style: none;
}

#volunteer-experience-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.input-container label {
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-align: right;
    margin-right: 0px;
    justify-content: center;
    margin-bottom: 5px;
}

.star {
    display: flex;
    display: inline;
    font-size: 2em;
    color: lightgray;
    cursor: pointer;
}

.star:hover, .starsSelected {
    color: #0F75BC;
}


#submit-volunteer-form {
    font-size: 1em;
    width: 5rem;
    background-color: lightgray;
    cursor: pointer;
    padding: 0.25em;
    border: 2px #0F75BC solid;
    border-radius: 10px;
}

#submit-volunteer-form:hover, .delete-volunteer:hover, #volunteer-table th, #volunteer-hours-calculator {
    background-color: #0F75BC;
    color: white;
    font-weight: bold;
}

.volunteer-form-error {
    color: red;
    display: none;
}

.volunteer-table-container {
    border: 2px lightgray solid;
    border-radius: 5px;
    width: 40em;
    padding: 20px 50px 20px 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

#volunteer-table th, #volunteer-table td {
    width: 8em;
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: center;
}

#volunteer-hours-calculator {
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
}

.delete-volunteer {
    width: 8em;
    padding: 0.5em;
}

/* ====================================================== */
/* ================== EVENT SIGNUP CODE ================= */
/* ====================================================== */

.event-signup {
    display: flex;
    justify-content: center;
}

.signup-form {
    border: 2px lightgray solid;
    border-radius: 5px
}

.signup-form-header {

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-list {
    list-style-type: none;
    padding-left: 0px;
    display: grid;
    justify-content: center;
    margin-top: 0px;
}

.signup-form-list li {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
}

.event-signup-submit-button {
    font-size: 1em;
    width: 5rem;
    background-color: lightgray;
    cursor: pointer;
    padding: 0.25em;
    border: 2px #0F75BC solid;
    border-radius: 10px;
}

.event-signup-submit-button:hover {
    background-color: #0F75BC;
    color: white;
    font-weight: bold;
}

.signup-form-list label {
    /* margin-right: 5px; */
    margin-bottom: 7px;
}

.event-error {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

.event-name-error-wrapper {
    display: none;
    align-items: center;
    /* margin-bottom: 15px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.event-name-error {
    color: red;
}

.company-rep-name-error {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

.company-rep-name-error-wrapper {
    display: none;
    align-items: center;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}

.company-rep-email-error {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

.company-rep-email-error-wrapper {
    display: none;
    align-items: center;
    /* margin-bottom: 15px; */
    margin-top: 5px;
}

.company-role-selection-error {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

.company-role-selection-error-wrapper {
    display: none;
    align-items: center;
    /* margin-bottom: 15px; */
    margin-top: 5px;
}

.event-signup-frame {

    border: none;
    width: 100%;
    /* height: 505px; */
    padding-top: 200px;
}

.event-signup-form {
    border: 2px lightgray solid;
    border-radius: 5px;
}

/* ====================================================== */
/* ================ DONATION TRACKER CODE =============== */
/* ====================================================== */

.donation-tracker {
    display: flex;
    justify-content: center;
}

.donation-error-wrapper {
    display: none;
    align-items: center;
    /* margin-bottom: 15px; */
    margin-top: 10px;
    margin-bottom: 5px;
}

.donation-frame {
    border: none;
    width: 100%;
    /* height: 505px; */
    padding-top: 200px;
}

.donation-form-list label {
    margin-bottom: 5px;
    /* margin-top: 25px; */
}

.donation-error {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

/* .donation-form-list li {

    margin: 17px;
    display: flex;
    justify-content: center;
} */

.donation-submit-button {
    font-size: 1em;
    width: 5rem;
    background-color: lightgray;
    cursor: pointer;
    padding: 0.25em;
    border: 2px #0F75BC solid;
    border-radius: 10px;
}

.donation-submit-button:hover {
    background-color: #0F75BC;
    color: white;
    font-weight: bold;
}

.donation-form-list {

    list-style-type: none;
    padding-left: 0px;
    display: grid;
    justify-content: center;
    margin-top: 0px;
    grid-template-areas: 
    'donation-charity-name-input-wrapper'
    'donation-charity-name-error-wrapper'
    'donation-amount-input-wrapper'
    'donation-amount-error-wrapper'
    'donation-date-input-wrapper'
    'donation-date-error-wrapper'
    'donation-message-input-wrapper'
    'donation-message-error-wrapper'
    'donation-submit-button-wrapper';
}

.donation-charity-name-input-wrapper {
    grid-area: donation-charity-name-input-wrapper;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

#donation-charity-name-error-wrapper {
    grid-area: donation-charity-name-error-wrapper;
}

.donation-amount-input-wrapper {
    grid-area: donation-amount-input-wrapper;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#donation-amount-error-wrapper {
    grid-area: donation-amount-error-wrapper;
}

.donation-date-input-wrapper {
    grid-area: donation-date-input-wrapper;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#donation-date-error-wrapper {
    grid-area: donation-date-error-wrapper;
}

.donation-message-input-wrapper {
    grid-area: donation-message-input-wrapper;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#donation-message-error-wrapper {
    grid-area: donation-message-error-wrapper;
}

.donation-submit-button-wrapper {
    grid-area: donation-submit-button-wrapper;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.donation-form-header {

    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-form {
    border: 2px lightgray solid;
    border-radius: 5px
}

/* ========================================================================== */
/* =============================== Footer CSS =============================== */
/* ========================================================================== */

.footer-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: x-large;
}
